@import url("https://fonts.googleapis.com/css2?family=Ubuntu&display=swap");
* {
  font-family: "Ubuntu", sans-serif;
  padding: 0;
  margin: 0;
}
a{
    text-decoration: none;
    color: white;
}
body {
  background-image: linear-gradient(to right, #01022d, rgb(0, 0, 0));
  height: 100vh;
    display: flex;
    justify-content: center;
}

.all{
    background-image: 
    linear-gradient(to right, #01022de5,#00000088),
url(imge/AVATAR.jpg)
    ;
     background-position: center;
    width: 90%;
    height: 640px; 
}

.all:hover{
       background-image: 
    linear-gradient(to right, #01022de5,transparent),
url(imge/AVATAR.jpg)
    ;
} 
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}
.logo{
    font-size: 30px;
}
ul{
    width: 60%;
    display: flex;
    list-style: none;
justify-content: space-evenly;
}
ul a{
border-bottom: 2px solid transparent;
}
ul a:hover{
    border-bottom: 2px solid white;
}
.x{

    width:50%;
    color: white;
    margin-top: 50px;
    padding: 30px;
}
.x h2{
    font-size: 90px;
}
.x p{
    letter-spacing: 2.5px;
    width: 350px;
    padding: 20px 0;
}
.x button{
 font-size:30px;
 padding: 6px 10px;
border-radius: 10px;
border:2px solid transparent ;

}
.x button:hover{
    background: transparent;
border-color:white;
color: white;
}